body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

a {
  text-decoration: none;
  color: white;
}

h6 {
  color: white;
}
h5 {
  color: white;
}
h4 {
  color: #f9f9f9;
}

p {
  color: white;
  font-size: 18px;
  /* font-weight: 100; */
}

.container {
  background-color: rgba(255, 255, 255, 0.15);
}
.container {
  background-color: rgba(255, 255, 255, 0.15);
  backdrop-filter: blur(10px);
}

.card-theme {
  background: linear-gradient(
    to bottom right,
    rgba(255, 255, 255, 0.2),
    rgba(255, 255, 255, 0.02)
  );
  box-shadow: 0 1rem 2rem rgba(0, 0, 0, 0.5), -1px -1px 2px #121827,
    1px 1px 2px #555;
  backdrop-filter: blur(0.8rem);
  /* padding: 1.5rem; */
  border-radius: 1rem;
  width: 100%;
  height: 100%;
}

/* .card-theme:before {
  background-color: transparent;
  backdrop-filter: blur(10px) saturate(100%) contrast(85%) brightness(80%);
  content: "";
  height: 100%;
  position: absolute;
  width: 100%;
} */

/* .card__text {
  color: #f9f9f9;
  margin-left: 30px;
  text-align: center;
  position: relative;
  z-index: 2;
  margin: 0;
}

.card__title {
  font-weight: 600;
  font-size: 2.5rem;
  color: #919191;
  margin: 1rem 0 1.5rem;
  text-shadow: 0 2px 2px rgba(0, 0, 0, 0.3);
} */
